<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :email, value: "Email",
		onfocus: "if(this.value == 'Email') { this.value = '' }", onblur: "if(this.value == '') { this.value = 'Email'; }" %>
      <%= f.text_field :password, value: 'Password',
		onfocus: "if(this.value == 'Password') { this.value = ''; this.type = 'password' }", onblur: "if(this.value == '') { this.type= 'text'; this.value = 'Password'; }" %>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
